@import url('https://fonts.googleapis.com/css2?family=Honk&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik+Beastly&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik+Beastly&family=WindSong:wght@400;500&display=swap');







*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}


.inter{
    font-weight:600;
    font-size: 32px;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none;
}

.bgYellow{
    background-color: #F3C827;
}

.colorh3{
    color: #593E26;
    ;
}
.margin {
    margin:2%;
}

.margino {
    margin:3%;
}

.marginp {
    margin-top: 9%;
    margin-left: 20px;
}

.padingshop{
    padding: 5%;
}




.justifyspacearound{
    justify-content: space-between;
    flex-direction: row;

}


.inter7{
    font-size: 16px;
    font-weight: 700;
}

.navheader{
    /*background-color: black;*/
    width: 50%;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.spaceBetween{
    justify-content: space-between;
}

.alignCenter{
    align-items: center;
}
.bold{
    font-weight: 600;

}
.container{
        /*background-color: red;*/
        max-width: 1000px;
        width: 100%;
        margin: auto;
        
    }

.btn{
    background-color: #F66909;
    border-radius: 4px;
    padding: 10px;
    color: white;
    display:inline-block;
    margin-top: 35px;
    
}
h3{

height: 52px;
border:none;
}

/* Header*/
header{
    /*background-color: rgb(0, 192, 221);*/
    padding: 15px;
    
}

.panier{
    color: #F3C827;
    font-size: 30px;
}

/* debut du hero*/
.hero{
    height: 100vh;
}

.hero h2 {
    font-family: "WindSong", cursive;
    font-size: 130px;
    font-weight: 500;
}
h1{
    font-size: 32px;
}
.largeur30{
    width: 30%;
}
.largeur45{
    width: 45%;
}
.largeur100{
    width: 100%;
}
.largeur20{
    width: 20%;
}

.largeur10{
    width: 10%;
}
.hauteur10{
    height: 100%;
}

.marchet{
    background-color: #F3C827;
    width: 267px;
    margin-bottom: 30px;
    height: 458px;
}





.justify{
    justify-content: center;
    
}


.flexdirection{
flex-direction: column;
}
.flexWarpnow {
flex-wrap: nowrap;
}

.largeurtexte {
    width: 1280%;
    height: 372;
}